<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around top"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
  <mat-card>
      <mat-card-header>
          <mat-card-title>
              <h1>{{dish.name | uppercase}}</h1>
          </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + dish.image}}" height="300px" alt={{dish.name}}>
      <mat-card-content>
          <p>{{dish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
          <button mat-button [routerLink]= "['/dishdetail', prev]">
            <span class= "fa fa-chevron-left fa-lg"></span>
        </button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class= "flex-spacer"></span>
          <button mat-button [routerLink]= "['/dishdetail', next]">
            <span class= "fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
  </mat-card>
  </div>

  <div fxFlex="50" *ngIf="dish">
    
    <h2 md-line>Comments<br></h2>    
    <mat-list>
        <mat-list-item *ngFor="let comm of dish.comments">

            <p md-line> 
                <span><b> {{comm.comment}} </b><br></span>
            
                <span><b>{{comm.rating}} Stars</b><br> </span>
             
                <span> --{{comm.author}} {{comm.date | date}} </span>
                </p>
        </mat-list-item> 

        
    </mat-list>
    <mat-list *ngIf= "commentForm.valid">
      <mat-list-item>
        
        <p md-line >
            <span><b> {{commentForm.get('comment').value}} </b><br></span>
        
            <span><b>{{commentForm.get('rating').value}} Stars</b><br> </span>
         
            <span> --{{commentForm.get('author').value}}</span>
            </p>
          
    </mat-list-item> 
    </mat-list>

    <form novalidate [formGroup]= "commentForm" #fform= "ngForm" (ngSubmit)= "onSubmit()" >
        <p>
          <mat-form-field class= "full-width">
            <input matInput formControlName= "author" placeholder= "Name" type= "text" required >
            <mat-error *ngIf= "formErrors.author">
                {{formErrors.author}} 
              </mat-error>
          </mat-form-field>
          <mat-slider formControlName= "rating" min="1" max="5" step="1" value="0" thumbLabel tickInterval="1"></mat-slider>
          <mat-form-field class= "full-width">
            <textarea matInput formControlName= "comment" placeholder= "Your comment" rows=12 required>    
            </textarea>
            <mat-error *ngIf= "formErrors.comment">
                {{formErrors.comment}}
              </mat-error>
          </mat-form-field>
           

          <button type= "submit" mat-button class= "background-primary text-floral-white"
      [disabled]= "commentForm.invalid">Submit</button>
    </p>
    </form>

  </div>
  <div fxFlex [hidden]= "dish || errMess">
    <mat-spinner></mat-spinner> <h4>Loading . . . Please wait !</h4>
</div>

<div fxFlex *ngIf= "errMess">
  <h2>Error</h2>
  <h4>{{errMess}}</h4>
</div>
</div>
